name: Deploy to Pantheon

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]

permissions:
  deployments: write
  contents: read
  pull-requests: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Dependencies
        run: |
          composer --version
          composer clear-cache
          composer --no-interaction --no-progress --prefer-dist --ansi install

      - name: Push to Pantheon
        uses: pantheon-systems/push-to-pantheon@0.7.0
        with:
          ssh_key: ${{ secrets.PANTHEON_SSH_KEY }}
          machine_token: ${{ secrets.PANTHEON_MACHINE_TOKEN }}
          site: cxr-composer-speed-test-gha
